projects/gameAI01/proj.win32/Debug.win32/
projects/gameAI01/proj.win32/gameAI01.opensdf
projects/gameAI01/proj.win32/gameAI01.sdf
projects/gameAI01/proj.win32/gameAI01.v12.suo
projects/gameAI01/cocos2d/cocos/2d/Debug.win32/
projects/gameAI01/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
projects/gameAI01/cocos2d/external/Box2D/proj.win32/Debug.win32/
projects/gameAI01/cocos2d/external/recast/proj.win32/Debug.win32/
projects/gameAI01/proj.win32/game.aps
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter4-SimpleSoccer/Debug/
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter4-SimpleSoccer/SimpleSoccer.opensdf
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter4-SimpleSoccer/SimpleSoccer.sdf
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter5-Pathfinder/Debug/
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter4-SimpleSoccer/SimpleSoccer.v12.suo
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter5-Pathfinder/Pathfinder.opensdf
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter5-Pathfinder/Pathfinder.sdf
projects/Buckland_PGAIBE_Source_VC6-VS2010/VS2010/Buckland_Chapter5-Pathfinder/Pathfinder.v12.suo
